@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); /* Fonte, pode trocar */

* {
  /* Reset de estilos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variáveis de cores, trocar */
  --main-bg-color: #21202e;
  --grey-text: #b2b9af;
  --text-color: #f1faee;
  --lighter-color: #a8dadc;
  --secondary-color: #457b9d;
  --darker-color: #1e314e;
  --main-color: #cf3441;
  --main-accent-color: #e63946;
  --soft-pink: #d0687a;
  --golden-yellow: #9e8f38;
  --green-check: #51e975;

  background-color: var(--main-bg-color);
  color: var(--text-color);

  font-family: 'Lexend', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

button:disabled, /* Botões desabilitados, default */
button:disabled:hover,
#header-button:disabled:hover {
  cursor: default;
  opacity: 70%;
  transform: translateY(0px);
  transition: all 0.64s ease;
}
